
@model IEnumerable<GamesShop.Models.Developer>


@{
    ViewData["Title"] = "Список разработчиков";

}
<!DOCTYPE html>
<html>
<head>
    <title>Магазин компьютерных игр</title>
</head>
<body>
    <h3> Список разработчиков </h3>
 
    <table class="table  table-striped">
        <tr>
            <th class="table-dark"> Название кампании</th>
            <th class="table-dark"> Ссылка на сайт</th>
            @if (User.IsInRole("admin"))
            {
                <th class="table-dark"> </th>
                <th class="table-dark"> </th>
            }
        </tr>
        @foreach (var developer in Model)
        {
    <tr>
        <td  class="table-primary"> <a asp-action="DeveloperViewGames" asp-controller="Home" asp-route-id="@developer.IdDeveloper"> @developer.NameOfDeveloper</a></td>
        <td class="table-primary"><a href="@developer.LinkToTheWebSite">@developer.LinkToTheWebSite</a> </td>
        @if (User.Identity.IsAuthenticated)
        {
            <td class="table-primary"><a class="btn btn-info"asp-action="EditDeveloper" asp-controller="Home" asp-route-id="@developer.IdDeveloper">Редактировать</a> </td>
            <td  class="table-primary">
                <form method="post">
                    <button class="btn btn-danger"type="submit" asp-action="Index" asp-controller="Home" asp-route-id="@developer.IdDeveloper">Удалить</button>
                </form>
            </td>
        }


    </tr>

        }


    </table>

    <a href="~/Home/AddDeveloper" class="navbar-brand">Добавить разработчика</a>
    <h3>@ViewData["MessageDelete"]</h3>
    </body>
</html>
