@using Microsoft.AspNetCore.Identity
@model GamesShop.Models.ViewModels.ChangeRoleViewModel

<!DOCTYPE html>
<html>
<head>

</head>
<body>
    <h2>Изменение ролей для пользователя @Model.UserEmail</h2>

    <form asp-action="EditRoles" method="post">
        <input type="hidden" name="userId" value="@Model.UserId" />
        <div>
            @foreach (IdentityRole role in Model.AllRoles)
            {
                <input type="checkbox" name="roleId" value="@role.Id"
                       @(Model.UserRoles.Contains(role.Name) ? "checked=\"checked\"" : "") ) />@role.Name <br />
              }

        </div>
        <button type="submit">Сохранить</button>
    </form>
</body>
</html>