@model IEnumerable<GamesShop.Models.User>
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/styles_main.css" />
</head>
<body>
    <h2>Список пользователей</h2>

    <table class="table  table-striped">
        @foreach (var user in Model)
        {
            <tr>
                <td  class="table-primary">@user.Email</td>
                <td  class="table-primary">
                    <a class="btn btn-info" asp-action="EditRoles" asp-route-userid="@user.Id">Права доступа</a>
                    <a class="btn btn-info" asp-controller="Roles" asp-action="EditUser" asp-route-id="@user.Id">Изменить</a>
                    <form class="btn btn-danger"asp-controller="Roles" asp-action="DeleteUser" asp-route-id="@user.Id" method="post">
                        <button class="btn btn-danger" type="submit">
                            Удалить
                        </button>
                    </form>
                </td>
            </tr>
        }

    </table>
    <a href="~/Roles/IndexRoles">Список ролей</a>
</body>
</html>