@model SomeRoleOrders

    <div>
        <h3>Оформление заказа для пользователя @Model.Users.UserName  @Model.Users.Id   </h3>
        <form asp-action="CheckoutAutorize" asp-controller="Order" method="post">

            <div>
                <label asp-for="@Model.Users.UserName"></label>
                <input asp-for="@Model.Users.UserName" value="@Model.Users.UserName" />

            </div>
            <div>
                <label asp-for="@Model.Users.Email"></label>
                <input asp-for="@Model.Users.Email" value="@Model.Users.Email" />
                <span asp-validation-for="@Model.Users.Email"></span>
            </div>
            <div>
                <label asp-for="@Model.Users.ID_Card"></label>
                <input asp-for="@Model.Users.ID_Card" />
            </div>

            <input type="submit" value="Завершить заказ" />
        </form>
    </div>