@model IEnumerable<GenresGame>


<div>
    @foreach(var name in Model )
    {
        <h3>Игры жанра @name.IdGenreNavigation.NameOfGenre</h3>
        break;
    }
<table>
    <tr>
        Название игры
    </tr>
    <tr>
        Дата выхода
    </tr>

    @foreach (var games in Model)
    {
        <tr>
            <td>
                <img src="@games.IdGameNavigation.Image" />
            </td>
            <td>
                <a asp-action="GameView" asp-controller="Games" asp-route-id="@games.IdGame"> @games.IdGameNavigation.NameOfGame</a>
            </td>
            <td>
                @games.IdGameNavigation.DateOfRelease
            </td>

        </tr>
    }
</table>
</div>