@model IEnumerable<Games>



    @foreach(var name in Model)
    {
        <h3>Игры @name.IdPublisherNavigation.NameOfIzdatel</h3>
        break;
    }
<div class="card-columns " style="margin-top:25px;">
    @foreach (var games in Model)
    {

        <div class="card">
            <img class="card-img-top" src="@games.Image" alt="Card image cap">
            <div class="card-body">
                <p class="card-text">
                    Дата выхода: @Html.DisplayFor(modelItem => games.DateOfRelease)<br />
                    Цена: @games.Cost грн
                </p>
                <b><a style="text-decoration:none; font-size:130%" asp-action="GameView" asp-controller="Games" asp-route-id="@games.IdGame"> @games.NameOfGame</a><br /></b>
                @if (games.CountOfKeys <= 0)
                {
                    <label style="color:red">Ожидается поставка</label><br />
                }
                else
                {
                    <form asp-action="AddToCart" asp-controller="Cart" asp-route-id="@games.IdGame">
                        <button class="btn btn-warning " type="submit">Добавить в корзину</button>
                    </form>
                }
                @if (User.IsInRole("admin"))
                {
                    <a class="text-info" style="text-decoration:none" asp-action="EditGames" asp-controller="Games" asp-route-id="@games.IdGame">Редактировать</a>
                }

                @if (User.IsInRole("admin"))
                {

                    <form asp-controller="Games" asp-action="DeleteGame" asp-route-id="@games.IdGame" method="post">
                        <button class="btn btn-danger" type="submit">
                            Удалить
                        </button>
                    </form>

                }
            </div>

        </div>

    }
</div>
