@model IEnumerable<Publisher>

<h3>Список издателей</h3>
<div>
    @ViewData["MessageDeletePublisher"]
    <table class="table  table-striped">
        <tr>
            <th class="table-dark">
                Название издателя:
            </th>
            <th class="table-dark">
                Ссылка на сайт:
            </th>
            @if (User.IsInRole("admin"))
            {
                <th class="table-dark"> </th>
                <th class="table-dark"> </th>
            }

        </tr>
        @foreach (var publisher in Model)
        {
    <tr>
      
        <td class="table-primary">
            <a asp-action="PublisherViewGames" asp-controller="Publisher" asp-route-id="@publisher.IdPublisher"> @publisher.NameOfIzdatel</a>
        </td>
       
        <td class="table-primary">
            <a href="@publisher.LinkToTheWebSite"> @publisher.LinkToTheWebSite</a>
            </td>
        @if (User.Identity.IsAuthenticated)
        {
            <td class="table-primary">
                <a class="btn btn-info"asp-controller="Publisher" asp-action="EditPublisher" asp-route-id="@publisher.IdPublisher">Редактировать</a>
            </td>
            <td class="table-primary">
                <form method="post">
                    <button class="btn btn-danger"type="submit" asp-action="PublisherList" asp-controller="Publisher" asp-route-id="@publisher.IdPublisher">Удалить</button>
                </form>
            </td>
        }
    </tr>
        }

    </table>
</div>