@model GamesShop.Models.SomeModelsGenreGame
<!DOCTYPE html>
<html>
<head>
   
</head>
<body>
    <p>Добавление жанров к игре</p>
    <form method="post">
        Выберите жанры для игры:
        @*<select name="Id_game" role="form">
            @foreach (var name in Model.Game)
            {
                <option value="@name.IdGame">@name.NameOfGame</option>

            }
        </select><br />*@
        <input name="Id_game" value="@Model.Game.IdGame" hidden="hidden">
        @Model.Game.NameOfGame<br />
        Выберите жанры для игры:
        <select name="Id_genre">
            @foreach (var name in Model.Genre)
            {
                <option value="@name.IdGenre">@name.NameOfGenre</option>

            }
        </select><br />
        <div>
            <input type="submit" value="Добавить жанр" />
        </div>

        @ViewData["MessageAddGenresGames"]

    </form>
    <a class="btn btn-primary" href="~/Games/ListGames">Завершить</a>
</body>
</html>
