@model GamesShop.Models.SomeModels
@{
    ViewData["Title"] = "Добавление игр";
}
<!DOCTYPE html>
<html>
<head>
    <title>Добавление информации о игре</title>
</head>
<body>
    <h3>Форма добавления игры</h3>
    <form method="post" class="form-group">

        <div>
              <input type="hidden" name="IdGame" />
         </div>
        <div class="form-group">
            <label for="NameOfGame">  Название игры:</label>
                <input type="text" name="NameOfGame" class="form-control" style="width: 50%"/>
        </div >
            <div>
                <label for="Image">  Выберите изображение:</label><br />
                <input type="file" name="Image"  style="width: 50%"/><br>
            </div>
        <div class="form-group">
            <label for="DateOfRelease">  Дата релиза:</label>
             <input type="date" name="DateOfRelease" class="form-control"style="width: 50%" />
        </div>
        <div class="form-group">
            <label for="Cost">  Цена игры:</label>
                <input type="text" name="Cost" class="form-control" style="width: 50%"/>
        </div>
        <div class="form-group">
            <label for="CountOfKeys">  Количество ключей:</label>
                <input type="text" name="CountOfKeys" class="form-control" style="width: 50%"/>
        </div>
        <div class="form-group">
            <label for="Description">  Описание:</label>
                <textarea type="text" name="Description" class="form-control" style="width:100%; height:200px;"></textarea>
        </div>

        <div class="form-group">
            <label for="Id_developer">Укажите разработчика:</label> <br />
            @if (Model.Developer.Count() <= 0)
            {
                <label style="color:red">Данные о разработчиках в базе данных отсутсвуют. Добавьте хотя бы одну запись.</label><br />
            }
            else
            {
                <select name="Id_developer" class="form-control" style="width: 50%">
                    @foreach (var developer in Model.Developer)
                    {
                        <option value="@developer.IdDeveloper">@developer.NameOfDeveloper</option>
                    }

                </select><br />
            }
        </div>
       

        <div class="form-group">
            <label for="Id_publisher">Укажите издателя:</label> <br />
            @if (Model.Publisher.Count() <= 0)
            {
                <label style="color:red">Данные о издателях в базе данных отсутсвуют. Добавьте хотя бы одну запись.</label><br />
            }
            else
            {
                <select name="Id_publisher" class="form-control" style="width: 50%">
                    @foreach (var publisher in Model.Publisher)
                    {
                        <option value="@publisher.IdPublisher">@publisher.NameOfIzdatel</option>
                    }

                </select>
            }

            @if (Model.Publisher.Count() <= 0 || Model.Developer.Count() <= 0)
            {
                <label style="color:red">Данные о издателях или о разработчиках в базе данных отсутсвуют. Добавьте хотя бы одну запись, чтобы была возможность добавить игру в базу данных.</label><br />
            }
            else
            {
                
               <input class="btn btn-primary" type="submit" id="button" value="Продолжить" />
             
                <h3>@ViewData["MessageAddGames"]</h3>
            }
        </div>
       
        @*<div>
            <a href="~/Games/AddGenresForGame">Добавить жанры к игре</a>
        </div>*@


    </form>

</body>
</html>