@model GamesShop.Models.SomeModels
@{
    ViewData["Title"] = "Добавление игр";
}
<!DOCTYPE html>
<html>
<head>
    <title>Добавление информации о игре</title>
</head>
<body>
    <h3>Форма добавления игры</h3>
    <form method="post">

        <div>

            <div>
                <input type="hidden" name="IdGame" />
            </div>
        </div>
        <div>
            <label for="NameOfGame">  Название игры:</label>
            <div>
                <input type="text" name="NameOfGame" />
            </div>
        </div>
        <div>
            <div>
                <label for="Image">  Выберите изображение:</label><br />
                <input type="file" name="Image" /><br>
            </div>
        </div>
        <div>
            <label for="DateOfRelease">  Дата релиза:</label>
            <div>
                <input type="date" name="DateOfRelease" />
            </div>
        </div>
        <div>
            <label for="Cost">  Цена игры:</label>
            <div>
                <input type="text" name="Cost" />
            </div>
        </div>
        <div>
            <label for="CountOfKeys">  Количество ключей:</label>
            <div>
                <input type="text" name="CountOfKeys" />
            </div>
        </div>
        <div>
            <label for="Description">  Описание:</label>
            <div>
                <textarea type="text" name="Description"></textarea>
            </div>
        </div>

        <label for="Id_developer">Укажите разработчика:</label> <br />
        @if (Model.Developer.Count() <= 0)
        {
            <label style="color:red">Данные о разработчиках в базе данных отсутсвуют. Добавьте хотя бы одну запись.</label><br />
        }
        else
        {
            <select name="Id_developer">
                @foreach (var developer in Model.Developer)
                {
                    <option value="@developer.IdDeveloper">@developer.NameOfDeveloper</option>
                }

            </select><br />
        }


        <label for="Id_publisher">Укажите издателя:</label> <br />
        @if (Model.Publisher.Count() <= 0)
        {
            <label style="color:red">Данные о издателях в базе данных отсутсвуют. Добавьте хотя бы одну запись.</label><br />
        }
        else
        {
            <select name="Id_publisher">
                @foreach (var publisher in Model.Publisher)
                {
                    <option value="@publisher.IdPublisher">@publisher.NameOfIzdatel</option>
                }

            </select>
        }

        @if (Model.Publisher.Count() <= 0 || Model.Developer.Count() <= 0)
        {
            <label style="color:red">Данные о издателях или о разработчиках в базе данных отсутсвуют. Добавьте хотя бы одну запись, чтобы была возможность добавить игру в базу данных.</label><br />
        }
        else
        {
            <div>
                <div>
                    <input type="submit" id="button" value="Продолжить" />
                </div>
            </div>
            <h3>@ViewData["MessageAddGames"]</h3>
        }
        @*<div>
            <a href="~/Games/AddGenresForGame">Добавить жанры к игре</a>
        </div>*@


    </form>

</body>
</html>