@model GamesShop.Models.EditGameModel
@{
    ViewData["Title"] = "Редактирование записи игры";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Редактирование информации о игре</title>
</head>
<body>
    <div>
        <h3>Форма редактирования игры</h3>


        <form method="post" class="form-group">

            <div class="form-group">
                <label asp-for="IdGame">  Id игры:</label>
                    <input asp-for="IdGame" readonly="readonly" class="form-control" style="width:50%"/>
            </div>
            <div class="form-group">
                <label asp-for="NameOfGame">  Название игры:</label>
                    <input asp-for="NameOfGame"  class="form-control" style="width:50%"/>
            </div>
            <div class="form-group">
                <label asp-for="Image">  Выберите изображение:</label>
                <input type="file" asp-for="Image"  class="form-control" style="width:50%"/><br>
            </div>
            

            <div class="form-group">
                <label asp-for="DateOfRelease"> Дата выхода:</label>
                    <input asp-for="DateOfRelease"  class="form-control" style="width:50%"/>
            </div>
            <div class="form-group">
                <label asp-for="Cost"> Цена:</label>
                    <input asp-for="Cost"  class="form-control" style="width:50%"/>
            </div>

            <div class="form-group">
                <label asp-for="CountOfKeys"> Число ключей:</label>
                    <input asp-for="CountOfKeys"  class="form-control" style="width:50%"/>
            </div>
            <div class="form-group">
                <label asp-for="Description"> Описание игры:</label>
                    <textarea asp-for="Description" class="form-control" style="width:200%"> </textarea>
            </div>

            Укажите разработчика:
            <select asp-for="Developers"  class="form-control" style="width:50%">
                @foreach (var developer in Model.Developer)
                {
                    <option value="@developer.IdDeveloper">@developer.NameOfDeveloper</option>
                }

            </select><br />

            Укажите издателя:
            <select asp-for="Publishers"  class="form-control" style="width:50%">
                @foreach (var publisher in Model.Publisher)
                {
                    <option value="@publisher.IdPublisher">@publisher.NameOfIzdatel</option>

                }

            </select>

            <div class="form-group">
                <a class="btn btn-warning" asp-action="EditGenresForGame" asp-controller="Games" asp-route-id="@Model.IdGame">Добавить жанры</a>
            </div>
            <div class="form-group">
                <a class="btn btn-warning"asp-action="DeleteGenresForGame" asp-controller="Games" asp-route-id="@Model.IdGame">Удалить жанры к игре</a>
            </div>

            <div class="form-group">
               
                    <input class="btn btn-primary" type="submit" id="button" value="Применить изменения" />
            </div>

        </form>
       
        <h3>@ViewData["MessageEdit"]</h3>



    </div>
</body>
</html>