@model GamesShop.Models.EditGameModel
@{
    ViewData["Title"] = "Редактирование записи игры";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Редактирование информации о игре</title>
</head>
<body>
    <div>
        <h3>Форма редактирования игры</h3>


        <form method="post">

            <div>
                <label asp-for="IdGame">  Id игры:</label>
                <div class="col-md-4">
                    <input asp-for="IdGame" readonly="readonly" />
                </div>
            </div>
            <div>
                <label asp-for="NameOfGame">  Название игры:</label>
                <div>
                    <input asp-for="NameOfGame" />
                </div>
            </div>
            <div>
                <label asp-for="Image">  Выберите изображение:</label>
                <input type="file" asp-for="Image" /><br>
            </div>
            

            <div>
                <label asp-for="DateOfRelease"> Дата выхода:</label>
                <div>
                    <input asp-for="DateOfRelease" />
                </div>
            </div>
            <div>
                <label asp-for="Cost"> Цена:</label>
                <div>
                    <input asp-for="Cost" />
                </div>
            </div>

            <div>
                <label asp-for="CountOfKeys"> Число ключей:</label>
                <div>
                    <input asp-for="CountOfKeys" />
                </div>
            </div>
            <div>
                <label asp-for="Description"> Описание игры:</label>
                <div>
                    <textarea asp-for="Description"> </textarea>
                </div>
            </div>

            Укажите разработчика:
            <select asp-for="Developers">
                @foreach (var developer in Model.Developer)
                {
                    <option value="@developer.IdDeveloper">@developer.NameOfDeveloper</option>
                }

            </select><br />

            Укажите издателя:
            <select asp-for="Publishers">
                @foreach (var publisher in Model.Publisher)
                {
                    <option value="@publisher.IdPublisher">@publisher.NameOfIzdatel</option>

                }

            </select>

            <div>
                <a asp-action="EditGenresForGame" asp-controller="Games" asp-route-id="@Model.IdGame">Добавить жанры</a>
            </div>
            <div>
                <a asp-action="DeleteGenresForGame" asp-controller="Games" asp-route-id="@Model.IdGame">Удалить жанры к игре</a>
            </div>

            <div>
                <div>
                    <input type="submit" id="button" value="Применить изменения" />
                </div>
            </div>

        </form>
        <form asp-action="AddEmage" asp-controller="Games" method="post" enctype="multipart/form-data">
            Загрузить изображение
            
            <input type="submit" value="Загрузить" />
        </form>
        <h3>@ViewData["MessageEdit"]</h3>



    </div>
</body>
</html>