@model GamesShop.Models.Games
@{
    ViewData["Title"] = "GamesShop";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Редактирование информации о игре</title>
</head>
<body>
    <div>
        <h3>@Model.NameOfGame</h3>



        <div>
            <input asp-for="IdGame" readonly="readonly" hidden="hidden" />
        </div>


        <label asp-for="NameOfGame">  Название игры:</label>
        <div>
            @Model.NameOfGame;
        </div>


        <label asp-for="Image"> </label>
        <div>
            @Model.Image
        </div>


        <label asp-for="DateOfRelease"> Дата выхода:</label>
        <div>
            @Model.DateOfRelease
        </div>


        <label asp-for="Description"> Описание игры:</label>
        <div>
            @Model.Description
        </div>

        <label asp-for="IdDeveloper"> Разработчик:</label>
        <div>
            @Model.IdDeveloperNavigation.NameOfDeveloper
        </div>

        @if (User.IsInRole("admin"))
        {
            <label asp-for="CountOfKeys"> Количество ключей:</label>
            <div>
                @Model.CountOfKeys
            </div>
        }



        <label asp-for="Cost"> Цена:</label>
        <div>
            <input asp-for="Cost" readonly="readonly" />
        </div>

        <form asp-action="AddToCart" asp-controller="Cart" asp-route-id="@Model.IdGame">
            <button type="submit">Добавить в корзину</button>
        </form>






    </div>
</body>
</html>