
@model GamesShop.Models.Games
@{
    ViewData["Title"] = "GamesShop";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Редактирование информации о игре</title>
</head>
<body>
    <div>
        <h3>@Model.NameOfGame</h3>


        <div>
            <input asp-for="IdGame" readonly="readonly" hidden="hidden" />
        </div>


        <label asp-for="NameOfGame">  Название игры:</label>
        <div>
            @Model.NameOfGame;
        </div>


        <div>
            <image src="@Model.Image"></image>
        </div>


        <label asp-for="DateOfRelease"> Дата выхода:</label>
        <div>
            @Model.DateOfRelease
        </div>


        <label asp-for="Description"> Описание игры:</label>
        <div>
            @Model.Description
        </div>

        <label asp-for="IdDeveloperNavigation.NameOfDeveloper"> Разработчик:</label>
        <div>
            @Model.IdDeveloperNavigation.NameOfDeveloper
        </div>

        @if (User.IsInRole("admin"))
        {
            <label asp-for="CountOfKeys"> Количество ключей:</label>
            <div>
                @Model.CountOfKeys
            </div>
        }



        <label asp-for="Cost"> Цена:</label>
        <div>
            <input asp-for="Cost" readonly="readonly" />
        </div>

        <form asp-action="AddToCart" asp-controller="Cart" asp-route-id="@Model.IdGame">
            <button type="submit">Добавить в корзину</button>
        </form>


        @if (User.Identity.IsAuthenticated)
        {
            <label>Оставьте свой отзыв:</label>
            <form asp-action="AddFeedback" asp-controller="Games" asp-route-id="@Model.IdGame">
                <textarea type="text" name="textFeedback">
            </textarea>
                <button type="submit">Добавить отзыв</button>
            </form>
        }
        else
        {
            <label>Чтобы добавить отзыв, пожалуйста, авторизируйтесь на сайте</label>
        }

       

    </div>

    <div>
        <label asp-for="Feedbacks"> Отзывы:</label>
        <div>
            <table>
                <tr>
                    <td>
                        Пользователь:
                    </td>
                    <td>
                        Дата отзыва
                    </td>
                    <td>
                        Отзыв:
                    </td>
                </tr>
                @foreach (var feedback in @Model.Feedbacks)
                {
                   
                    <tr>
                        <td>
                            @feedback.IdUserNavigation.UserName
                        </td>
                        <td>
                            @Html.DisplayFor(modelitem => feedback.DateOfFeedback)
                        </td>
                        <td>
                           @feedback.TextOfFeedback
                        </td>
                    </tr>
                }
            </table>
           
        </div>
    </div>
</body>
</html>